import {request} from "../utils/request.ts";

export const {{.ModelName}}Api = {
    List(query:Object){
        return request.get("/{{.ModuleName}}/list",{
            params:query
        });
    },
    Get(id:number){
        return request.get("/{{.ModuleName}}/get",{
            params:{
                id:id
            }
        });
    },
    Create(form:Object){
        return request.post("/{{.ModuleName}}/create",form);
    },
    Delete(ids:Array<number>){
        return request.post("/{{.ModuleName}}/delete", {
            ids:ids
        });
    },
    Edit(form:Object){
        return request.post("/{{.ModuleName}}/edit", form);
    }
}