package {{.ModuleName}}

import (
	"github.com/Gary-Yez/go-admin/request"
	"github.com/Gary-Yez/go-admin/response"
	"github.com/gin-gonic/gin"
)

type controllerStruct struct{}
{{if .CreateCURD}}
func (_ *controllerStruct) List(ctx *gin.Context) {
	req, err := request.GetReqList(ctx)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	list, total, err := Service.List(req)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	response.List(ctx, list, total)

}

{{if .CanCreate}}
func (_ *controllerStruct) Create(ctx *gin.Context) {
	input := new({{.ModelName}}Input)
	err := ctx.ShouldBindJSON(input)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	data := input.ToModel()
	err = Service.Create(data)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	response.Success(ctx, data)
}

{{end}}
{{if .CanDelete}}
func (_ *controllerStruct) Delete(ctx *gin.Context) {
	req, err := request.GetReqIds(ctx)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	err = Service.DeleteByIds(req)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	response.Success(ctx, "success")
}

{{end}}
{{if .CanEdit}}
func (_ *controllerStruct) Edit(ctx *gin.Context) {
	input := new({{.ModelName}}Input)
	err := ctx.ShouldBindJSON(input)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	data := input.ToModel()
	err = Service.Update(data)
	if err != nil {
		response.Error(ctx, err.Error())
		return
	}
	response.Success(ctx, data)
}
{{end}}
{{else}}
func (c *controllerStruct) Test(ctx *gin.Context) {
	_, err := request.GetReq(ctx)
	if err != nil {
		response.Error(ctx, err)
		return
	}
	response.Success(ctx, Service.Test())
}
{{end}}
