package {{.ModuleName}}

import (
	{{- if .CreateCURD}}
	"github.com/Gary-Yez/go-admin"
    {{if .CanEdit}}"errors"{{end}}
	"github.com/Gary-Yez/go-admin/request"
    {{if or .CanCreate .CanEdit}}"gorm.io/gorm/clause"{{end}}
	{{- end}}
)

type serviceStruct struct {
}

{{- if .CreateCURD}}
func (s *serviceStruct) List(req *request.ReqList) (list []*{{.ModelName}}, total int64, err error) {
	db := req.WithFilter(admin.DB().Model({{.ModelName}}{}), []string{
        {{- range .QueryFields}}
        "{{columnName .}}",
        {{- end}}
    })
	err = db.Count(&total).Error
	if err != nil {
		return nil, 0, err
	}
	err = req.WithPagination(req.WithSort(db, request.DefaultSortFields(
        {{- range .Fields}}{{if .Sortable}}
        "{{columnName .}}",
        {{- end}}{{end}}
    ))).Find(&list).Error
	return
}

{{if .CanCreate}}
func (s *serviceStruct) Create(data *{{.ModelName}}) (err error) {
	err = admin.DB().
	    Omit(clause.Associations, "Id", "DeletedAt"{{range .Fields}}{{if not .Editable}}, "{{.Key}}"{{end}}{{end}}).
	    Create(data).Error
	return
}

{{end}}
{{if .CanEdit}}
func (s *serviceStruct) Update(data *{{.ModelName}}) (err error) {
	if data.Id == 0 {
		return errors.New("id不能为空")
	}
	return admin.DB().Select("*").
		Omit(clause.Associations, "Id", "CreatedAt", "DeletedAt"{{range .Fields}}{{if not .Editable}}, "{{.Key}}"{{end}}{{end}}).
    		Where("id = ?", data.Id).Updates(data).Error
}

{{end}}
{{if .CanDelete}}
func (s *serviceStruct) DeleteByIds(req *request.ReqIds) (err error) {
	return req.WithQuery(admin.DB()).Delete(&{{.ModelName}}{}).Error
}

{{end}}
{{else}}
func (s *serviceStruct) Test() string {
	return "hello world"
}
{{end}}
