:root{
  --el-color-primary: #3b82f6;
  --main-bg-color:#fff;
  --main-bg-light-color:#f5f7fa;
  --main-text-color:#334155;
}

html.dark{
  --el-bg-color:var(--el-bg-color-overlay);
  --main-bg-color:var(--el-bg-color-overlay);
  --main-bg-light-color:#262727;
  --main-text-color:#fff;
}