package {{.ModuleName}}

import (
    {{- if .CreateCURD}}
    "gitee.com/mxcker/go-admin/server/global"
    {{- end}}
    "github.com/gin-gonic/gin"
)

var (
	Controller = new(controllerStruct)
	Service    = new(serviceStruct)
)

type Mounter struct {
}

func (_ *Mounter) Name() string {
	return "{{.ChineseModuleName}}"
}

func (_ *Mounter) Initialize() error {
    // 这里执行一些初始化操作
    {{- if .CreateCURD}}
    // 初始化数据库
    err := global.DB.AutoMigrate(&{{.ModelName}}{})
    if err != nil {
    	return err
    }
    {{- end}}
	return nil
}

func (_ *Mounter) AdminRouter(adminGroup *gin.RouterGroup) {
    {{- if .CreateCURD}}
	adminGroup.GET("get", Controller.Get)
	adminGroup.POST("list", Controller.List)
	adminGroup.POST("create", Controller.Create)
	adminGroup.POST("delete", Controller.Delete)
	adminGroup.POST("edit", Controller.Edit)
	{{- else}}
	// 这里注册需要管理权限的路由
	{{- end}}
}


func (_ *Mounter) PublicRouter(publicGroup *gin.RouterGroup) {
	// 这里注册公共路由
}