package {{.ModuleName}}

import "gitee.com/mxcker/go-admin/server/types"

type {{.ModelName}} struct {
	{{- if .UseSoftDelete}}
	types.DbBaseModelWidthDelete
	{{- else if .UseCommon}}
	types.DbBaseModel
	{{- end}}
	{{- range .Fields}}
	{{.Key}} {{.Type}} `json:"{{if .Hidden}}-{{else}}{{.Name}}{{end}}"{{if .IndexType}} gorm:"{{.IndexType}};"{{end}}{{if .Required }} binding:"required"{{end}}`
	{{- end}}
}

