package models

type {{.ModelName}} struct {
	{{- if .UseSoftDelete}}
	DbBaseModelWidthDelete
	{{- else if .UseCommon}}
	DbBaseModel
	{{- end}}
	{{- range .Fields}}
	{{.Key}} {{.Type}} `json:"{{if .Hidden}}-{{else}}{{.Name}}{{end}}"{{if .IndexType}} gorm:"{{.IndexType}};"{{end}}{{if .Required }} binding:"required"{{end}}`
	{{- end}}
}

