package {{.ModuleName}}

import (
	{{- if .CreateCURD}}
    "errors"
    "gorm.io/gorm/clause"
	"gitee.com/mxcker/go-admin/server/core/global"
	"gitee.com/mxcker/go-admin/server/core/request"
	{{end}}
)

type serviceStruct struct {
}

{{- if .CreateCURD}}
func (s *serviceStruct) Get(id uint) (data *{{.ModelName}}, err error) {
	data = &{{.ModelName}}{}
	err = global.DB.Model({{.ModelName}}{}).Where("id = ?", id).Find(data).Error
	return
}

func (s *serviceStruct) List(req *request.ReqList) (list []*{{.ModelName}}, total int64, err error) {
	db := global.DB.Model({{.ModelName}}{})
	err = db.Count(&total).Error
	if err != nil {
		return nil, 0, err
	}
	req.SetDB(db)
	err = db.Find(&list).Error
	return
}

func (s *serviceStruct) Create(data *{{.ModelName}}) (err error) {
	err = global.DB.
	    Omit(clause.Associations).
	    {{- range .Fields}}
	    {{- if eq .Editable false}}
        Omit("{{.Key}}").
	    {{- end}}
	    {{- end}}
	    Create(data).Error
	return
}

func (s *serviceStruct) Update(data *{{.ModelName}}) (err error) {
	if data.Id == 0 {
		return errors.New("id不能为空")
	}
	return global.DB.Select("*").
    		Omit(clause.Associations).
    		Omit("Id", "CreatedAt", "UpdatedAt").
    		{{- range .Fields}}
            {{- if eq .Editable false}}
            Omit("{{.Key}}").
            {{- end}}
            {{- end}}
    		Where("id = ?", data.Id).Updates(data).Error
}

func (s *serviceStruct) DeleteByIds(ids []uint) (err error) {
	return global.DB.Delete(&{{.ModelName}}{}, ids).Error
}
{{end}}