package {{.ModuleName}}

import (
	{{- if .CreateCURD}}
    "errors"
	"gitee.com/mxcker/go-admin/server/core/global"
	"gitee.com/mxcker/go-admin/server/core/types/request"
    "gorm.io/gorm/clause"
	{{- end}}
)

type serviceStruct struct {
}

{{- if .CreateCURD}}
func (s *serviceStruct) Get(req *request.Req) (data *{{.ModelName}}, err error) {
	data = &{{.ModelName}}{}
	err = req.BuildQuery(global.DB.Model({{.ModelName}}{})).First(data).Error
	return
}

func (s *serviceStruct) List(req *request.ReqList) (list []*{{.ModelName}}, total int64, err error) {
	db := global.DB.Model({{.ModelName}}{})
	err = req.BuildWhere(db).Count(&total).Error
	if err != nil {
		return nil, 0, err
	}
	err = req.BuildQuery(db).Find(&list).Error
	return
}

func (s *serviceStruct) Create(data *{{.ModelName}}) (err error) {
	err = global.DB.
	    Omit(clause.Associations).
	    {{- range .Fields}}
	    {{- if eq .Editable false}}
        Omit("{{.Key}}").
	    {{- end}}
	    {{- end}}
	    Create(data).Error
	return
}

func (s *serviceStruct) Update(data *{{.ModelName}}) (err error) {
	if data.Id == 0 {
		return errors.New("id不能为空")
	}
	return global.DB.Select("*").
    		Omit(clause.Associations).
    		Omit("Id", "CreatedAt", "UpdatedAt").
    		{{- range .Fields}}
            {{- if eq .Editable false}}
            Omit("{{.Key}}").
            {{- end}}
            {{- end}}
    		Where("id = ?", data.Id).Updates(data).Error
}

func (s *serviceStruct) DeleteByIds(req *request.ReqIds) (err error) {
	return req.BuildQuery(global.DB).Delete(&{{.ModelName}}{}).Error
}
{{end}}