import { request } from "../utils/request.ts";

export const {{.ModelName}}Api = {
  List(query:any){
    return request.post("/{{.ModuleName}}/list",query);
  },
{{- if .CanCreate}}
  Create(form:any){
    return request.post("/{{.ModuleName}}/create",form);
  },
{{- end}}
{{- if .CanEdit}}
  Edit(form:any){
    return request.post("/{{.ModuleName}}/edit", form);
  },
{{- end}}
{{- if .CanDelete}}
  Delete(ids:Array<number>){
    return request.post("/{{.ModuleName}}/delete", {
      ids:ids
    });
  },
{{- end}}
}
