<template>
  <el-card class="container" shadow="never" v-loading="pageLoading">
    <div class="mb-[10px] ">
      <el-button v-if="multipleSelection.length <= 0" type="primary" icon="Refresh" :loading="pageLoading" @click="getPageData">刷新</el-button>
      <el-button v-if="multipleSelection.length <= 0" type="primary" icon="Plus" @click="()=>handleShowFormDialog(initForm())">新增</el-button>
      <el-button v-if="multipleSelection.length > 0" type="danger" icon="Delete" @click="()=>handleDelete(multipleSelection)">批量删除</el-button>
    </div>
    <el-table :data="tableData"  @selection-change="handleSelectionChange">
      <el-table-column type="selection"></el-table-column>
      <el-table-column label="编号" prop="id" :width="100"></el-table-column>
      {{- range .Fields}}
      {{- if .TableShow }}
      {{- if eq .Type "bool"}}
      <el-table-column label="{{if .ChineseName}}{{.ChineseName}}{{else}}{{.Name}}{{end}}" prop="{{.Name}}">
          <template #default="{ row }">
            <el-tag v-if="row.{{.Name}}" type="success">开启</el-tag>
            <el-tag v-else type="danger">关闭</el-tag>
          </template>
      </el-table-column>
      {{- else}}
      <el-table-column label="{{if .ChineseName}}{{.ChineseName}}{{else}}{{.Name}}{{end}}" prop="{{.Name}}"></el-table-column>
      {{- end}}
      {{- end}}
      {{- end}}
      <el-table-column label="操作" :width="160">
        <template #default="{ row }">
          <el-button-group class="table-btn-group">
            <el-button type="primary" icon="Edit" text @click="()=>handleShowFormDialog(row)">修改</el-button>
            <el-button type="danger" icon="Delete" text @click="()=>handleDelete([row.id])">删除</el-button>
          </el-button-group>
        </template>
      </el-table-column>
    </el-table>
    <div class="mt-[15px] flex justify-center">
      <el-pagination
          v-model:current-page="queryForm.page"
          v-model:page-size="queryForm.limit"
          :page-sizes="[10, 30, 50, 100]"
          background
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
          @change="getPageData"
      />
    </div>
    <FormDialog v-model="dialogOpen" v-model:form="submitForm" :title="`${ submitForm.id ? '修改' : '新增' }{{ .ChineseModuleName }}`" :on-confirm="handleSubmit">
      {{- range .Fields}}
      {{- if .Editable}}
      <el-form-item label="{{if .ChineseName}}{{.ChineseName}}{{else}}{{.Name}}{{end}}" prop="{{.Name}}"{{- if .Required}} :rules="[{required:true,message:'{{if .ChineseName}}{{.ChineseName}}{{else}}{{.Name}}字段{{end}}不能为空'}]"{{end}}>
        {{- if eq .Type "int"}}
        <el-input-number v-model="submitForm.{{.Name}}" :value-on-clear="0"></el-input-number>
        {{- else if eq .Type "bool"}}
        <el-switch v-model="submitForm.{{.Name}}" :active-value="true" :inactive-value="false"></el-switch>
        {{- else}}
        <el-input v-model="submitForm.{{.Name}}" placeholder="请输入{{if .ChineseName}}{{.ChineseName}}{{else}}{{.Name}}字段{{end}}"></el-input>
        {{- end}}
      </el-form-item>
      {{- end}}
      {{- end}}
    </FormDialog>
  </el-card>
</template>

<script setup lang="ts">
import { {{.ModelName}}Api } from "../../apis/{{.ModuleName}}";
import { ElMessage,ElMessageBox } from "element-plus";
import FormDialog from "../../components/core/FormDialog.vue";
import {onMounted, ref} from "vue";

const dialogOpen = ref(false)
const queryForm = ref({
  page:1,
  limit:10
})
// 初始化form数据
const initForm = ()=>{
    return {
        {{- range .Fields}}
        {{- if eq .Type "int"}}
        {{.Name}}:0,
        {{- else if eq .Type "bool"}}
        {{.Name}}:false,
        {{- else}}
        {{.Name}}:"",
        {{- end}}
        {{- end }}
    }
}
const pageLoading = ref(true)
const total = ref(0)
const multipleSelection:any = ref([])
const tableData = ref([])
const submitForm:any = ref(initForm())

const getPageData = async () => {
  pageLoading.value = true
  multipleSelection.value = []
  try {
    const response = await {{.ModelName}}Api.List(queryForm.value)
    tableData.value = response.data.list
    total.value = response.data.total
  }catch (e) {
    console.log(e)
  }
  pageLoading.value = false
}


const handleSelectionChange = (val:Array<any>) => {
  multipleSelection.value = val.map(item=>item.id)
}

const handleShowFormDialog = (defaultForm:any)=>{
  submitForm.value = {
    ...defaultForm
  }
  dialogOpen.value = true
}

const handleDelete = (ids:Array<any>) => {
  ElMessageBox.confirm("您确认要删除选中的数据吗？","删除提示",{
    type:"error",
    beforeClose:async (action, instance, done)=>{
      if (action === "confirm") {
        instance.confirmButtonLoading = true
        try {
          await {{.ModelName}}Api.Delete(ids)
          ElMessage.success("删除成功")
          getPageData()
        }catch (e){
          console.log(e)
        }
        done()
        instance.confirmButtonLoading = false
      } else if (!instance.confirmButtonLoading) {
        done()
      }
    }
  })
}

const handleSubmit = async ()=>{
  if (!submitForm.value.id){
    await {{.ModelName}}Api.Create(submitForm.value)
    ElMessage.success("创建成功")
  }else{
    await {{.ModelName}}Api.Edit(submitForm.value)
    ElMessage.success("修改成功")
  }
  getPageData()
}

onMounted(()=>{
  getPageData()
})
</script>


<style scoped>

</style>